<div class="auth-container">
  <!-- LOGIN -->
  <section class="auth-section login">
    <div class="header-title">
      <h1 class="main-title">Reconocimiento de Huellas Dactilares L&L</h1>
      <h2>Iniciar Sesión</h2>
    </div>

    <button (click)="startCamera()" class="btn">Iniciar Cámara</button>
    <button *ngIf="videoElement" (click)="capturePhoto()" class="btn">
      Capturar Foto
    </button>

    <!-- SUBIR IMAGEN para login -->
    <label for="uploadLoginImage" class="btn">Subir Imagen</label>
    <input
      id="uploadLoginImage"
      type="file"
      accept="image/*"
      (change)="onLoginImageUpload($event)"
      hidden
    />

    <!-- Mostrar imagen capturada o subida -->
    <div *ngIf="imageBase64" class="captured-photo">
      <p>Foto Capturada o Subida:</p>
      <img [src]="imageBase64" alt="Foto Capturada" />
    </div>

    <button *ngIf="imageBase64" (click)="submitLogin()" class="btn btn-primary">
      Iniciar Sesión
    </button>

    <!-- Mensaje de éxito o fallo -->
    <p
      *ngIf="welcomeMessage"
      class="welcome-message"
      [ngStyle]="{ color: loginSuccess ? 'green' : 'red' }"
    >
      {{ welcomeMessage }}
    </p>

    <!-- Mostrar mensaje de carga -->
    <div *ngIf="isLoading" class="loading-message">
      <p>Cargando...</p>
    </div>

    <button
      *ngIf="videoElement"
      (click)="stopCamera()"
      class="btn btn-secondary"
    >
      Detener Cámara
    </button>
  </section>
</div>
