<div class="user-info-container">
  <h2>Información sobre los Archivos del Sistema</h2>

  <div class="file-info">
    <h3>{{ info.fingerprintService.title }}</h3>
    <p>{{ info.fingerprintService.description }}</p>
  </div>

  <div class="file-info">
    <h3>{{ info.fingerprintSiameseModel.title }}</h3>
    <p>{{ info.fingerprintSiameseModel.description }}</p>
  </div>

  <div class="file-info">
    <h3>{{ info.trainFingerprintModel.title }}</h3>
    <p>{{ info.trainFingerprintModel.description }}</p>
  </div>

  <div class="file-info">
    <h3>{{ info.schemas.title }}</h3>
    <p>{{ info.schemas.description }}</p>
  </div>
</div>
